.marked {
    margin: 0 auto;
    font-family: "ubuntu", "Tahoma", "Microsoft YaHei", arial,sans-serif;
    color: #444444;
    line-height: 1;
    padding: 30px;
}

.marked img {
    max-width: 100%;
}
@media screen and (min-width: 1000px) {
    .marked {
        width: 842px;
        margin: 10px auto;
    }
}
.marked h1,
.marked h2,
.marked h3,
.marked h4 {
    color: #111111;
    font-weight: 400;
    margin-top: 1em;
}

.marked h1,
.marked h2,
.marked h3,
.marked h4,
.marked h5 {
	font-family: Georgia, Palatino, serif;
}
.marked h1,
.marked h2,
.marked h3,
.marked h4,
.marked h5,
.marked dl{
    margin-bottom: 16px;
    padding: 0;
}

.marked p {
    margin-top: 8px;
    margin-bottom: 3px;
}
.marked h1 {
    font-size: 48px;
    line-height: 54px;
}
.marked h2 {
    font-size: 36px;
    line-height: 42px;
}
.marked h1,
.marked h2 {
    border-bottom: 1px solid #EFEAEA;
    padding-bottom: 10px;
}
.marked h3 {
    font-size: 24px;
    line-height: 30px;
}
.marked h4 {
    font-size: 21px;
    line-height: 26px;
}
.marked h5 {
    font-size: 18px;
    line-height: 23px;
}
.marked a {
    color: #0099ff;
    margin: 0 2px;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
}
.marked a:hover {
    text-decoration: none;
    color: #ff6600;
}
.marked a:visited {
    /*color: purple;*/
}
.marked ul,
.marked ol {
    padding: 0;
    padding-left: 18px;
    margin: 0;
}
.marked li {
    line-height: 24px;
}
.marked p,
.marked ul,
.marked ol {
    font-size: 16px;
    line-height: 24px;
}

.marked ol ol,
.marked ul ol {
    list-style-type: lower-roman;
}

.marked code,
.marked pre {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    background-color:#f7f7f7;
    color: inherit;
}

.marked code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    margin: 0 2px;
}

.marked pre {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.7em;
    overflow: auto;
    padding: 6px 10px;
    border-left: 5px solid #6CE26C;
}

.marked pre > code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    border: 0;
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    font-size: .85em;
    white-space: pre;
    background: 0 0;

}

.marked code {
    color: #666555;
}

.marked aside {
    display: block;
    float: right;
    width: 390px;
}
.marked blockquote {
    border-left:.5em solid #eee;
    padding: 0 0 0 2em;
    margin-left:0;
}
.marked blockquote cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
.marked blockquote cite:before {
    content: '\2014 \00A0';
}

.marked blockquote p {
    color: #666;
}
.marked hr {
    text-align: left;
    color: #999;
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}

.marked dl {
    padding: 0;
}

.marked dl dt {
    padding: 10px 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.marked dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.marked dd {
    margin-left: 0;
}

/* Code below this line is copyright Twitter Inc. */

.marked button,
.marked input,
.marked select,
.marked textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
.marked button,
.marked input {
    line-height: normal;
    *overflow: visible;
}
.marked button::-moz-focus-inner,
.marked input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.marked button,
.marked input[type="button"],
.marked input[type="reset"],
.marked input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
.marked input[type=checkbox],
.marked input[type=radio] {
    cursor: pointer;
}
/* override default chrome & firefox settings */
.marked input:not([type="image"]),
.marked textarea {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.marked input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.marked input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.marked label,
.marked input,
.marked select,
.marked textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 18px;
}
.marked input[type=checkbox],
.marked input[type=radio] {
    cursor: pointer;
    margin-bottom: 0;
}
.marked input[type=text],
.marked input[type=password],
.marked textarea,
.marked select {
    display: inline-block;
    width: 210px;
    padding: 4px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    height: 18px;
    color: #808080;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.marked select,
.marked input[type=file] {
    height: 27px;
    line-height: 27px;
}
.marked textarea {
    height: auto;
}
/* grey out placeholders */
.marked :-moz-placeholder {
    color: #bfbfbf;
}
.marked ::-webkit-input-placeholder {
    color: #bfbfbf;
}
.marked input[type=text],
.marked input[type=password],
.marked select,
.marked textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.marked input[type=text]:focus,
.marked input[type=password]:focus,
.marked textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* buttons */
.marked button {
    display: inline-block;
    padding: 4px 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #004b9a;
    border-bottom-color: #003f81;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.marked button:hover {
    color: #fff;
    background-position: 0 -15px;
    text-decoration: none;
}
.marked button:active {
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.marked button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.marked table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}
.marked table {
    border: solid #ccc 1px;
    /*-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;*/
    /*-webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;   */
}
.marked table tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.marked table td,
.marked .table th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.marked table th {
    /*background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);*/
    /*-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;*/
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    padding: 5px;
    border-left: 1px solid #ccc;
}

.marked table td:first-child,
.marked table th:first-child {
    border-left: none;
}

/*
.marked table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.marked table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.marked table th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.marked table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.marked table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
*/
